<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form | LaptopLens</title>
    <link rel="stylesheet" href="/static/styles/form.css">
</head>

<body>
    <header>
        <nav class="nav-bar">
            <a id="project-title" class="nav-item" href="/">LaptopLens</a>
        </nav>
    </header>
    <img class="bg-image" src="/static/files/sunset.png" alt="bg">
    <main>
        <div class="welcome">
            <p>Welcome to LaptopLens Form</p>
        </div>
        <div class="container">
            <form action="{{ url_for('prediction') }}" method="post">     
                <select name="brand" class="form-option" required>
                    <option value="" selected disabled hidden>Brand</option>
                    <option value="Dell">Dell</option>
                    <option value="HP">HP</option>
                    <option value="Lenovo">Lenovo</option>
                    <option value="Acer">Acer</option>
                    <option value="Asus">Asus</option>
                    <option value="Apple">Apple</option>
                </select>
                <select name="category" class="form-option" required>
                    <option value="" selected disabled hidden>Category</option>
                    <option value="Casual">Casual</option>
                    <option value="Gaming">Gaming</option>
                </select>
                <select name="touch_screen" class="form-option" required>
                    <option value="" selected disabled hidden>Touch Screen</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <select name="operating_system" class="form-option" required>
                    <option value="" selected disabled hidden>Operating System</option>
                    <option value="Windows">Windows</option>
                    <option value="MAC">Mac</option>
                </select>
                <select name="processor_brand" class="form-option" required>
                    <option value="" selected disabled hidden>Processor Brand</option>
                    <option value="Intel">Intel</option>
                    <option value="AMD">AMD</option>
                    <option value="M1">Apple</option>
                </select>
                <select name="processor_name" class="form-option" required>
                    <option value="" selected disabled hidden>Processor Name</option>
                    <option value="Celeron Dual">Celeron Dual</option>
                    <option value="Pentium Quad">Pentium Quad</option>
                    <option value="Core i3">Core i3</option>
                    <option value="Core i5">Core i5</option>
                    <option value="Core i7">Core i7</option>
                    <option value="Core i9">Core i9</option>
                    <option value="Ryzen 3">Ryzen 3</option>
                    <option value="Ryzen 5">Ryzen 5</option>
                    <option value="Ryzen 7">Ryzen 7</option>
                    <option value="Ryzen 9">Ryzen 9</option>
                    <option value="M1">M1</option>
                </select>
                <select name="architecture" class="form-option" required>
                    <option value="" selected disabled hidden>Architecture</option>
                    <option value="32 Bit">32 Bit</option>
                    <option value="64 Bit">64 Bit</option>
                </select>
                <select name="processor_generation" class="form-option" required>
                    <option value="" selected disabled hidden>Generation</option>
                    <option value="12th">12th</option>
                    <option value="11th">11th</option>
                    <option value="10th">10th</option>
                    <option value="9th">9th</option>
                    <option value="8th">8th</option>
                    <option value="7th">7th</option>
                    <option value="4th">4th</option>
                    <option value="Not Available">Not Available</option>
                </select>
                <select name="ram" class="form-option" required>
                    <option value="" selected disabled hidden>RAM</option>
                    <option value="4 Gb">4 GB</option>
                    <option value="8 Gb">8 GB</option>
                    <option value="16 Gb">16 GB</option>
                    <option value="32 Gb">32 GB</option>
                </select>
                <select name="ssd" class="form-option" required>
                    <option value="" selected disabled hidden>SSD</option>
                    <option value="128 GB">128 GB</option>
                    <option value="256 GB">256 GB</option>
                    <option value="512 GB">512 GB</option>
                    <option value="1024 GB">1 TB</option>
                    <option value="2048 GB">2 TB</option>
                </select>
                <div class="button-container">
                    <a href="/">Back</a>
                    <button type="submit">Submit</button>
                </div>
                
            </form>
        </div>
    </main>

</body>

</html>