<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaptopLens</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="JavaScript" href="/static/js/script.js">
</head>

<body>
    <main>
        <header>
            <nav class="nav-bar">
                <a id="project-title" class="nav-item" href="">LaptopLens</a>
                <ul>
                    <li><a class="nav-item" href="#home">Home</a></li>
                    <li><a class="nav-item" href="#project">Project</a></li>
                    <li><a class="nav-item" href="#about">About</a></li>
                    <li><a class="nav-item" href="#contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <img class="bg-image" src="/static/files/sunset.png" alt="bg">
        <section id="home" class="page">
            <p>Welcome to LaptopLens | Check Correct Price Here</p>
            <a class="button" href="/form">Start</a>
        </section>
        <section id="project" class="page">
            <div class="section">
                <img src="/static/files/man.png" alt="">
                <p><strong>Overview</strong>
                    <br>Welcome to LaptopLens, a Price Prediction System.
                    Our platform harnesses the power of machine learning to predict laptop prices accurately.
                    Whether you’re a tech enthusiast, a student, or a professional, our user-friendly interface
                    provides instant insights into laptop costs.
                    <br>
                    <br><strong>Technology used</strong>
                    <br>HTML & CSS : The frontend is built using HTML and CSS, ensuring a visually appealing design.
                    <br>Python & Flask : The backend is powered by Python and Flask.
                    <br>Machine Learning : The prediction model is based on a Random Forest algorithm.
                    <br>
                    <br><strong>How it works</strong>
                    <br>Input Data : Users provide essential details like laptop specifications, brand preferences, and
                    market trends.
                    <br>Prediction : Our machine learning model processes this data to forecast laptop prices.
                    <br>Result : Instantly view the predicted prices, empowering you to make informed decisions.
                </p>
            </div>
        </section>
        <section id="about" class="page">
            <div class="info">
                <p>
                    <strong>Himanshu Kumawat</strong>
                    <br>B.Tech student at PIET
                    <br>Skills: C, C++, Java, JavaScript, SQL, HTML, CSS, php, Graphics
                </p>
                <img src="/static/files/profile.JPG" alt="">
            </div>
        </section>
        <section id="contact" class="page">
            <div class="social-media">
                <a href="https://www.linkedin.com/in/iamhimanshu98/" >
                    <img class="icon" src="/static/files/linkedin.png" alt="">Linkedin</a>
                <a href="https://github.com/iamhimanshu98" >
                    <img class="icon" src="/static/files/github.png" alt="">Github</a>
                <a href="https://www.instagram.com/i.am.himanshu98/" >
                    <img class="icon" src="/static/files/instagram.png" alt="">Instagram</a>
                <a href="https://leetcode.com/u/iamhimanshu98/" >
                    <img class="icon" src="/static/files/coding.png" alt="">Leetcode</a>
            </div>
            <div class="copyright">
                <p>copyright © LaptopLens.com | All rights reserved</p>
            </div>
        </section>
    </main>
    <script src="/static/js/script.js"></script>

</body>

</html>